<h2>Edit this play</h2>

<form action="/plays/<%= @play.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <label for="formation">Formation: </label>
    <input type="text" name="formation" value="<%= @play.formation %>"></br>
    <label for="name">Play Name: </label>
    <input type="text" name="name" value="<%= @play.name %>"></br>
    <label for="setup">Setup: </label>
    <input type="text" name="setup" value="<%= @play.setup %>"></br>
    <button type="submit">Submit Changes</button>
</form>