<h1>All Plays</h1>
<% @plays.each do |play| %>
    <h3><%= play.user.name %>'s Play</h3>
    <p><strong>Formation:</strong> <%= play.formation %></br>
    <strong>Play Name:</strong> <%= play.name %></br>
    <strong>Setup:</strong> <%= play.setup %></p>
    <hr>
<% end %>