<h2>Welcome to the Sinatra Playbook App</h2>
<p>This app is designed to help you manage your favorite plays in Madden 20.<p>
<p>To get started, <a href="/signup">sign up</a> or <a href="/login">log in</a>.</p>